.moviesCards{
    width: 100%;
    margin: 80px auto 10px auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    gap: 37px 24px;
}

.button-more{
    width: 320px;
    margin: 50px auto 80px auto;
    padding-top: 10px;
    padding-bottom: 9px;
    background: none;
    font-family: 'Inter', "Arial", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    border: 1px solid rgba(232, 232, 232, 0.2);    
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.button-more:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 850px) {
  .moviesCards{
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .moviesCards{
    margin:80px auto 0px;
  }
}

/*ищу скролл*/
@media screen and (max-width: 470px) {
  .moviesCards{
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 10px
  }
}

@media screen and (max-width: 320px) {
  .moviesCards{
    margin:50px auto 0px;
    grid-template-columns:  minmax(200px, 1fr);
    row-gap: 14px;
  }

  .button-more{
    width: 240px;
    margin-top: 76px;
  }
}