.grayWrapper{
  background: #FAFAFA;
  width: 100%;
  min-height: 100vh;  
  display: flex;
  flex-direction: column;
}

.movies{
  width: 100%;
  max-width: 1280px;
  padding: 0 70px;
  box-sizing: border-box;
  margin: auto;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .movies{
    padding: 0px 30px;
  }
}