.profile{
  margin: 74px auto 70px;
  width: 70%;
  max-width: 410px;
}

.profile__header{
  margin-bottom: 107px;
  font-family: 'Inter', "Arial", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.profileForm{
  display: flex;
  flex-direction: column;
}

.profileForm__cell{
  display: flex;
  justify-content: space-between;
  padding-top: 17px;  
  padding-bottom: 16px;
  border-bottom: 1px solid  #E8E8E8;
}

.profileForm__cell:last-of-type{
  border-bottom: none;
  margin-bottom: 220px;
}

.label__profileForm{
  font-family: 'Inter', "Arial", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.input_profileForm{
  font-family: 'Inter', "Arial", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
}

.serverMessage{
  margin-top: -20px;
  height: 20px;
  /* color: #FF004C; */
  font-family: 'Inter', "Arial", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
}

.button__profile{
  background: none;
  border: none;
  font-family: 'Inter', "Arial", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 16px;
}

.button__profile_inactive{
  opacity: 0.5;
}

.link-logOut{
  font-family: 'Inter', "Arial", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #EE3465;
  margin: auto;
}


@media screen and (max-width: 768px) {
  .profile{
    margin: 236px 179px;
  }
}

@media screen and (max-width: 700px) {
  .profile{
    margin: 70px auto auto;
    width: 83%;
  }
}

@media screen and (max-width: 500px) {
  .profile{
    margin: 70px auto auto;
    width: 83%;
    max-width: 260px;
  }
}

@media screen and (max-width: 320px) {
  .profile__header{
    margin-bottom: 80px;
  }

  .button__profile{
    margin-bottom: 16px;
  }

  .profileForm__cell:last-of-type{
    margin-bottom: 379px;
  }
}
