.portfolio{
  width: 100%;
  padding: 0;
  display:inline-grid;
  grid-template-columns: 3fr 0.1fr;
  grid-template-rows: auto;
}

.portfolio__title{
  grid-column: 1/3;
  color: #A0A0A0;
  margin-bottom: 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.portfolio__link{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #E8E8E8 solid;
  padding-top: 20px;
  padding-bottom: 19px;
  align-self: center;
}

.portfolio__link:last-of-type{  
  border-bottom: none;
  padding-bottom: 0;
}

.portfolio__cell{  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.line_portfolio{
  width: 100%;
  background: #E8E8E8;
}

.arrow{
  width: fit-content;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .portfolio__cell {
    font-size: 28px;
    line-height: 50px;
  }
}

@media screen and (max-width: 470px) {
  .portfolio__cell {
    font-size: 24px;
    line-height: 34px;
  }
}

@media screen and (max-width: 400px) {
  .portfolio__cell {
    font-size: 19px;
    line-height: 29px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__title{
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 20px;
  }
  .portfolio__cell {
    font-size: 18px;
    line-height: 28px;
  }
}