.checkbox {
  margin: 0 auto;
  display: flex;
  flex-direction:  row;
  align-items: center;
  padding-bottom: 43px;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.switch {
  display: inline-block;
  width: 36px;
  height: 20px;
  position: relative;
}
  
.checkbox__input {  
  display:none; /* Отключает стандартный чекбокс */
}
  
.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}
/* Белый кружок */
.slider:before {
  background-color: #fff;
  content: "";
  width: 16px;
  height: 16px;
  left: 2px;
  bottom: 2px;
  position: absolute;
  transition: .4s;
}
  
input:checked + .slider {
  background-color: #2BE080;
}
  
input:checked + .slider:before {
  transform: translateX(16px);
}
/* Скругление задней части */
.slider.round {
  border-radius: 20px;
}
/* Скругление круглешка */
.slider.round:before {
  border-radius: 50%;
}  

.checkbox__title{
  margin-left: 14px;
  font-family: 'Inter', "Arial", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

@media screen and (max-width: 768px) {
  .checkbox{
    padding-bottom: 51px;
  }
}

@media screen and (max-width: 320px) {
  .checkbox{
    padding-bottom: 63px;
  }
  
  .checkbox__title{
    font-size: 11px;
  }  
}