.notFound{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

.notFound__number{
  margin-bottom: 5px;
  width:fit-content;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
}

.notFound__text{  
  margin-bottom: 184px;
  width: fit-content;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.notFound__link{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: block;
  text-align: center;
  color: #3456F3;
}

@media screen and (max-width: 400px) {
  .notFound__number {
    margin: 329px auto 10px;
    font-size: 80px;
    line-height: 97px;
  }

  .notFound__text{
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 284px;
    align-self: center;
  }

  .notFound__link{
    padding-bottom: 30px;
    box-sizing: border-box;
  }
}