.nav {
  box-sizing: border-box;
  width: 95%;
  max-width: 1200px;
  height: 493px;
  margin: auto;
  padding-top:160px;
  background: #F5F5F5;
  border-radius: 10px;
  text-align: center;
}

.nav__header {
  width: 61%;
  margin: auto;
  margin-bottom: 151px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
}

.nav__links {
  padding-bottom: 30px;
}

.nav__link {
  display: inline-block;
  padding: 10px 13.5px;
  margin-right: 10px;
  background: #E8E8E8;
  border-radius: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;  
  width: 96px;  
}

.nav__link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
    .nav {
        margin-top: 20px;
        max-width: 728px;
        padding-top: 350px;
        height: fit-content;
    }

    .nav__header{
        font-size: 40px;
        line-height: 52px;
        width: 80%;
        margin-bottom: 314px;
    }

}